  .adminCont{
      .header{
        background: url('../../images/night.jpg') no-repeat;  
        background-size: cover;
        height: 140%; 
      }
    &__adminTable{
        background-color:white;
        margin-top: 24%;
        margin-bottom: 20%;
        padding: 10px;
        float: left;
        h2{
            color: black;
            text-align: center;
            font-weight: 550;
        }
        table{
            padding-bottom: 5px;
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse; 
        }
        th, td {
            padding: 15px;
            padding-right: 5px;
            border: 1px solid black;
            border-collapse: collapse;
          } 
    }
}
@media only screen and (max-width: 500px){
  .adminCont{
    .header{
      background: url('../../images/night.jpg') no-repeat;  
      background-size: cover;
      height: 140%; 
    }
  &__adminTable{
      background-color:white;
      margin-top: 24%;
      margin-bottom: 20%;
      padding: 10px;
      float: left;
      h2{
        font-size: 20px;
        margin-bottom: 10%;
      }
      table{
          padding-bottom: 5px;
          width: 100%;
          border: 1px solid black;
          border-collapse: collapse; 
      }
      th, td {
        font-size: 12px;
        padding: 10px;
        } 
  }
} 
}