.conCont{
    .header{
        background: url('../../images/sydney.jpg') no-repeat;
        height: 117%;
        background-size: cover; 
    }
    &__contForm{
        background-color:white;
        margin-top: 7%;
        margin-bottom: 10%;
        -webkit-box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
        -moz-box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
        box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
        h2{
            color: black;
            font-weight: 550;
            text-align: center;
        }
        input{
            margin-left: 10%;
            width: 80%;
            height: 30px;   
        }
        &__name{
            margin-top: 5%; 
            margin-bottom: 5%;
        }
        &__message{
            margin-top: 5%; 
            margin-bottom: 5%;    
        }
        &__submit{
            button{
                width: 100px;
                height: 50px;
                color: white;
                margin-bottom: 10%;
                background-color:rgb(90, 68, 68) ;         
            }   
        }
    }
    .error{
        margin-top: 10px;
        text-align: center;
        color: red;
        display: block;
    }
    .error__hide{
        display: none;
    }
}
@media only screen and (max-width: 500px){
    .conCont{
        .header{
            background: url('../../images/night.jpg') no-repeat;
            background-size: cover; 
        }
        &__contForm{
            padding-bottom: 10%;
            background-color:white;
            margin-top: 9%;
            margin-bottom: 10%;
            h2{
                color: black;
                font-weight: 550;
                text-align: center;
            }
            input{
                margin-left: 10%;
                width: 80%;
                height: 30px;   
            }
            &__name{
                margin-top: 5%; 
                margin-bottom: 5%;
            }
            &__message{
                margin-top: 5%; 
                margin-bottom: 5%;    
            }
            &__submit{
                button{
                    width: 100px;
                    height: 50px;
                    color: white;
                    margin-bottom: 10%;
                    background-color:rgb(90, 68, 68) ;         
                }   
            }
        }
    }
}