.header{
    position: absolute;
    top: 0px;
    width:100%;
    height: 80%;
    z-index:-200;
    background: url('../../images/hotel-2.jpg') no-repeat;  
    background-size: cover;
    font-family: hoelfer text;
}