.homeCont{ 
    .header{
        background: url('../../images/hotel-2.jpg') no-repeat;
        background-size: cover;   
    }
    .searcharea{
        margin-top: 15%;
        margin-bottom: 8%;
    }
    &__accheading{
       h3{
        color: black;
        text-align: center;
        font-family: hoelfer text;
        font-weight: 550;
       }   
    } 
    &__accImg{
       img{
           margin-top: 5%;
           width: 110%;
           -webkit-box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
           -moz-box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
           box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
           transition: transform .8s;
        }
        img:hover{
            -ms-transform: scale(1.2); 
            -webkit-transform: scale(1.2); 
            transform: scale(1.2);
        }
    }
    &__why{
       h2{
        margin-top: 25%;
        color: black;
        text-align: center;
        font-family: hoelfer text;
        font-weight: 550;  
        }
       h3{
        margin-top: 5%;
        margin-bottom: 10%;
        color: black;
        text-align: center;
        font-family: hoelfer text;
        font-weight: 100;  
        }
    }
    &__activityIcons{
        
       &__img{
        margin-bottom: 10%;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        height: 160px;
        -webkit-box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
        -moz-box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
        box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);

           img{
            width: 100%;
            padding: 18%; 
            margin: auto;
            margin-top: 10%;
           }
             
        }
        &__img:hover{
            background-color: rgb(211, 211, 211);
            } 
        &__activtext{
            h3{
                margin-top: 5%;
                margin-bottom: 20%;
                color: black;
                text-align: center;
                font-family: hoelfer text;
                font-weight: 550;
            }
        }
    }
    &__review{
        padding-bottom: 100px;
        &__head{
            h2{
            margin-top: 20%;
            color: rgb(0, 0, 0);
            text-align: center;
            font-family: hoelfer text;
            font-weight: 550;  
            }
        }
        &__body{
            margin-top: 5%;
            :hover{
                transition: transform .9s;
                -ms-transform: scale(1.05);
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }
            &__content{
                padding: 20px;
                background-color: white;
                -webkit-box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
                -moz-box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
                box-shadow: 10px 9px 18px 6px rgba(128,128,128,1);
                &__img{
                    img{
                        margin: auto;
                        margin: 16px;
                        width: 160%;  
                    }   
                }
                &__text{
                    transition: transform .8s; 
                    p{
                        margin: 14px;
                        font-family: hoelfer text;
                        font-size: 16px; 
                    }
                    p:hover{ 
                        -ms-transform: scale(1);
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
        }
    }  
}
@media only screen and (max-width: 1000px){
    .homeCont{ 
        .header{
            background: url('../../images/night.jpg') no-repeat;
            background-size: cover;    
        }
        .searcharea{
            margin-top: 7%;
        }
        &__accheading{
           h3{
            margin-top: 7%;
            margin-bottom: 5%;
           }   
        } 
        &__accImg{
            margin-bottom:10%;
           img{
               width: 100%;
            }
        }
        &__why{
           h3{
            font-size: 20px; 
            }
        }
        &__activityIcons{
           &__img{
               img{
                width: 100%;
                padding: 18%; 
                margin: auto;
                margin-top: 10%;
               }  
            }
            &__activtext{
                h3{
                    margin-top: 5%;
                    margin-bottom: 20%;    
                }
            }
        }
        &__review{
            padding-bottom: 100px;
            &__head{
                h2{
                margin-top: 20%;
                color: rgb(0, 0, 0);
                text-align: center;
                font-family: hoelfer text;
                font-weight: 550;  
                }
            }
            &__body{
                margin-top: 5%;
                &__content{
                    background-color: white;
                    &__img{
                        img{
                            margin: auto;
                            margin: 16px;
                            width: 10%;  
                        }   
                    }
                    &__text{
                        p{
                            margin: 16px;
                            text-align: justify;
                            font-family: hoelfer text;
                            font-size: 16px;   
                        }
                    }
                }
            }
        }  
    }
}
@media only screen and (max-width: 500px){
    .homeCont{ 
        .header{
            background: url('../../images/night.jpg') no-repeat;
            background-size: cover;    
        }
        .searcharea{
            margin-top: 8%;
        }
        &__accheading{
           h3{
            margin-top: 7%;
            margin-bottom: 5%;
           }   
        } 
        &__accImg{
            margin-bottom:10%;
           img{
               width: 100%;
            }
        }
        &__why{
           h3{
            font-size: 20px; 
            }
        }
        &__activityIcons{
           &__img{
               img{
                width: 100%;
                padding: 18%; 
                margin: auto;
                margin-top: 10%;
               }  
            }
            &__activtext{
                h3{
                    margin-top: 5%;
                    margin-bottom: 20%;    
                }
            }
        }
        &__review{
            padding-bottom: 100px;
            &__head{
                h2{
                margin-top: 20%;
                color: rgb(0, 0, 0);
                text-align: center;
                font-family: hoelfer text;
                font-weight: 550;  
                }
            }
            &__body{
                margin-top: 5%;
                &__content{
                    background-color: white;
                    &__img{
                        img{
                            margin: auto;
                            margin: 16px;
                            width: 10%;  
                        }   
                    }
                    &__text{
                        p{
                            margin: 16px;
                            text-align: justify;
                            font-family: hoelfer text;
                            font-size: 16px;   
                        }
                    }
                }
            }
        }  
    }
}